// Colors
$background-color: #212121;
$text-color: #ffffff;
$card-background-color: #1b1b1b;
$project-card-background-color: #1a1a1a;

// Breakpoints
$breakpoint-phone: 640px;
$breakpoint-tablet: 800px;
$breakpoint-desktop: 1024px;
